
extends ../layout

block content


  //- h3 slug: #{slug}
  //- h3 !{JSON.stringify(locations)}


  if slug == "index"
    //---------------------------------------------------- index -------
    div.pure-menu.pure-menu-open.pure-menu-horizontal
      ul
        li
        li.pure-menu-disabled: a(href='/').pure-button Back
    p Home
    h1 Locations
    div.pure-menu.pure-menu-open
      ul
        for location in locations
          //- include location
          hr
          li: a(href='/location/'+location.id).id= location.name
    br



  else if slug == "location"
    //---------------------------------------------------- location -------

    div.pure-menu.pure-menu-open.pure-menu-horizontal
      ul
        li
        li: a(href='/').pure-button Back
    p Properties in
    h1 #{location.name}

    div.pure-menu.pure-menu-open
      ul
        for property in location.properties
          hr
          li:  a(href='/property/'+property.id).id= property.name
          //- for property in locations
    br



  else if slug == "property"
    //---------------------------------------------------- property -------

    //- h5 !{JSON.stringify(property)}
    div.pure-menu.pure-menu-open.pure-menu-horizontal
      ul
        li: a(href='/like/'+property.id).pure-button Like
        li: a(href='/location/'+property.parent_id).pure-button Back
    p Property
    h1 #{property.name}
    hr
    a(href='/property/'+property.id+'/left').pure-button <-left
    a(href='/property/'+property.id+'/right').pure-button right->
    hr
    h3 Images
    div.imagetable
      for image in property.img
        //- h6 #{image.url}
        a(href='/property/'+property.id+'/'+image.id): img(src=image.url width="250px")

    hr

    h3 Notes
    div.info
      p.info #{property.info}
